nav {
  position: absolute;
  z-index: 2;
  top: 3rem;
}

nav ul {
  display: flex;
  gap: 2.5rem;
  color: black;
  font-size: clamp(1.1rem, 1rem + 1vw, 1.8rem);
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

nav ul li {
  cursor: pointer;
  transition: transform 0.3s;
}

nav ul li:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0 1rem;
  }

  nav ul {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 475px) {
  nav {
    padding: 0 1rem;
  }

  nav ul {
    font-size: 1rem;
    gap: 1.2rem;
  }
}
