nav {
  position: absolute;
  z-index: 2;
  top: 3rem;
}

nav ul {
  display: flex;
  gap: 2.5rem;
  color: black;
  font-size: 1.8rem;
}

nav ul li {
  cursor: pointer;
  transition: transform 0.3s;
}

nav ul li:hover {
  transform: scale(1.1);
}
