@font-face {
  font-family: "Garnetta";
  src: url("./assets/fonts/garnetta/Garnetta.otf");
}
@font-face {
  font-family: "Glonto";
  src: url("./assets/fonts/glonto/Glonto-Regular-BF68f9d25807673.otf");
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Glonto";
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}
