/* ------- 1920x1080 ------- */
#banner {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f9f9f9;
  border-bottom: 2px solid #222;
}

/* Contenu de la bannière */
.banner-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #222;
}

/* Styles des textes */
.banner-content h1 {
  font-family: "Glonto";
  font-size: 12rem;
}

.toggle {
  height: 280px;
  vertical-align: middle;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1.3 / 1;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-8px) rotate(2deg);
  }
}

.banner-content h2 {
  font-size: 3rem;
  margin-top: 1rem;
}

.banner-content h1 {
  display: inline-block;
  overflow: hidden;
}

.banner-content h1 span {
  display: inline-block;
  transform: translateY(100%);
  animation: revealText 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes revealText {
  to {
    transform: translateY(0);
  }
}
